body {
    margin: 0 auto;
    background: rgb(38, 36, 50);
}
.container {
    width: 70%;
    margin: 0 auto;
}
.header {
    margin-top: 50px;
    border-bottom:1px solid rgb(61, 61, 61);
    position: absolute;
    margin-left: 15%;
}
.title {
    float: left;
}
.nav {
    float: left;
    margin-top: 6px;
    margin-left: 30%;
}
.link {
	display:inline-block;
	margin-right:15px;
	outline: none;
    text-decoration: none;
	color: white;
	height:31px;
}
.link:hover {
	border-bottom: 3px solid #ec6c21;
}
.socials {
    position: relative;
    float: left;
}
.thumb {
    position: absolute;
    top: 10px;
    left: 10px;
}
.thumb-rss {
    position: absolute;
    top: 9px;
    left: 13px;
}
.header::after {
    content: '';
    display: block;
	clear: both;
	height: 0;
}
.watch {
    width: 100%;
}

.heading {
    position: absolute;
    top: 50%;
    left: 15%;
    height: 30px;
    color: white;
    border-bottom: 8px solid rgb(49, 48, 49,0.3);
}
.heading span {
    font-weight: normal;
    color: lightgrey;
}
.points {
    position: absolute;
    top: 75%;
    left:48%;
}
.gallery {
    background: rgb(38, 36, 50);
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.wheel {
    margin: 25px 2% 25px 2%;
    border-right: 1px solid grey;
    width: 15%;
}
.news1 {
    margin-top: 40px;
    color: white;
    border-bottom: 1px solid gray;
}
.img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 16%;
}
.news1 span {
    color: lightgrey;
    font-weight: normal;
}
.news1 p {
    color: lightgrey;
}
.text {
    width: 65%;
    float: left;
    margin-top: -20px;
}
.search {
    float: left;
    background: rgb(40, 43, 53);
    border: 5px solid #3b3c3d;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
}
.button {
    margin-top: 21px;
    background: rgb(40, 43, 53);
    border: none;
}
.news1::after {
    content: '';
    display: block;
	clear: both;
	height: 0;
}
.news2 {
    margin-top: 40px;
    color: white;
    border-bottom: 1px solid gray;
}
.img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 16%;
}
.news2 span {
    color: lightgrey;
    font-weight: normal;
}
.news2 p {
    color: lightgrey;
}
.text {
    width: 65%;
    float: left;
    margin-top: -20px;
}
.search2 {
    float: left;
    background: rgb(40, 43, 53);
    border: 5px solid #3b3c3d;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
}
.button2 {
    margin-top: 25px;
    background: rgb(40, 43, 53);
    border: none;
}
.news2::after {
    content: '';
    display: block;
	clear: both;
	height: 0;
}


